* {
	margin: 0;
	padding: 0;
	/*line-height: 1.2rem;*/
}

html {
	font-size: 62.5%;

	@include respond(tab) {
		font-size: 69%;
	}
	@include respond(desk) {
		font-size: 76%;
	}
}

body {
	box-sizing: border-box;
	background-color: #fbfbfb;
}
