.error_section {
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	align-items: center;
	-webkit-align-items: center;
	margin: 9rem auto;

	&_art {
		width: 60%;
		@include respond(tab) {
			width: 40%;
		}
		@include respond(desk) {
			width: 25%;
		}
	}

	&_headline {
		margin: 3.2rem;
	}

	&_cta {
		text-decoration: none;
		border: 0.05rem solid #b86566;
		color: #b86566;
		padding: 0.8rem 1.6rem;
		font-size: 1.2rem;
	}
}

.loading {
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	align-items: center;
	-webkit-align-items: center;
	margin: 5.6rem auto;

	&_box {
		&_1 {
			width: 85vw;
			height: 35vh;
			background-color: #f4f4f4;
			border-radius: 1rem;
			-webkit-border-radius: 1rem;
		}

		&_2 {
			width: 85vw;
			height: 10vh;
			margin-top: 1rem;
			background-color: #f4f4f4;
			border-radius: 1rem;
			-webkit-border-radius: 1rem;
		}
	}
}
