@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/animation";
@import "base/typography";
@import "base/utilities";

@import "pages/home";

.mainApp {
	& .design {
		/*background-color: #f0f0f0;*/
		height: 50rem;
		width: 100%;
		overflow: hidden;
		position: absolute;
		z-index: -33;

		& .color_box {
			display: flex;
			justify-content: space-around;
			overflow: none;
			& .c1 {
				position: relative;

				width: 0%;
				height: 15rem;
				border-radius: 10%;
				background-image: linear-gradient(
					to bottom,
					rgba(132, 44, 85, 0.15),
					rgba(48, 162, 228, 0.15)
				);
				filter: blur(50px);
				z-index: -32;
			}
			& .c2 {
				position: relative;

				width: 0%;
				height: 15rem;
				border-radius: 10%;
				background-image: linear-gradient(
					to bottom,
					rgba(115, 212, 78, 0.19),
					rgba(5, 152, 74, 0.45)
				);
				filter: blur(50px);
				z-index: -32;
			}
			& .c3 {
				position: relative;

				width: 0%;
				height: 22rem;
				border-radius: 20%;
				background-image: linear-gradient(
					to bottom,
					rgba(251, 27, 131, 0.19),
					rgba(228, 48, 48, 0.19)
				);
				filter: blur(50px);
				z-index: -32;
			}
			& .c4 {
				position: relative;
				width: 0%;
				height: 10rem;
				border-radius: 100%;
				background-image: linear-gradient(
					to bottom,
					rgba(132, 44, 85, 0.33),
					rgba(48, 162, 228, 0.15)
				);
				/*filter: blur(50px);*/
				z-index: -32;
			}
			& .c5 {
				position: relative;
				top: -27rem;
				left: 30rem;
				width: 18rem;
				height: 18rem;
				border-radius: 1000%;
				overflow: hidden;
				background-color: none;
				border: 0.05rem solid black;
				/*filter: blur(50px);*/
				z-index: -29;
			}
			& .c6 {
				position: relative;
				top: -16.5rem;
				left: 10rem;
				width: 11rem;
				overflow: hidden;
				height: 11rem;
				border-radius: 1000%;
				background-color: #ff0d7b;
				/*filter: blur(50px);*/
				z-index: -32;
			}
		}
	}
}

.header {
	display: flex;

	justify-content: space-between;
	padding: 0.8rem 3rem;
	box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);

	/*background-color: #ebe4df;*/

	& .logo {
		margin: 1.2rem;
		font-size: 2rem;
		text-decoration: none;
		font-weight: 700;
		color: #000;
	}

	& .navlinks {
		margin: 0.8rem;
		padding: 0.8rem 0;
		/*text-transform: uppercase;*/
		font-weight: 700;
		font-size: 1.4rem;

		& .navlink {
			color: #000;
			text-decoration: none;
		}
	}
}

.footer {
	font-size: 1.6rem;
	margin: 2.4rem;
	padding: 1.6rem;
	color: #111;
	&_logo {
		text-decoration: none;
		color: #111;
		padding-bottom: 1rem;
	}

	&_copyright,
	&_rights {
		padding: 0;
		font-size: 1rem;
		/*font-weight: 500;*/
		color: #666;
	}
}
.public_view {
	&_headline {
		font-size: 4rem;
		/*width: 70%;*/
		background-color: #ff0d7b;
		color: white;
		border-radius: 0.5rem;
		font-weight: 300;
		line-height: 1.3;
		margin: 4rem 1.6rem;
		padding: 3.2rem;
		& span {
			font-size: 4.8rem;
			font-weight: 600;
			text-decoration: underline;
		}

		&_description {
			padding: 2.4rem 0.5rem 0.8rem 0.5rem;
			font-size: 1.4rem;
		}
	}

	& .form_box {
		margin: 0 2rem;
		background-color: #f8f8f8;
		border-radius: 0.5rem;
		margin: 3.2rem 1.6rem;
		padding: 3.2em;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		grid-gap: 1rem;

		&_headline {
			/*font-weight: 500;*/
			color: #111;
			padding: 0.8rem;
			font-size: 1.4rem;
		}
		& .input_mobile {
			grid-column: auto / span 2;

			/*height: 2.4rem;*/
			border: 0.05rem solid #aaa;
			border-radius: 2rem;
			padding: 1.4rem;
			color: #333;
			font-size: 1.4rem;
			&:focus {
				outline: none;
			}
		}

		& .input_passcode {
			/*width: 24%;*/
			/*height: 3.2rem;*/
			/*grid_area: input_passcode;*/
			/*height: 2.4rem;*/
			border: 0.05rem solid #aaa;
			border-radius: 2rem;
			padding: 1.4rem;
			color: #333;
			font-size: 1.4rem;
			&:focus {
				outline: none;
			}
		}

		& .input_submit {
			/*width: 60%;*/
			/*height: 4.2rem;*/
			/*grid-area: input_submit;*/
			background-color: #222;
			/*height: 4.4rem;*/
			border: none;
			border-radius: 2rem;
			padding: 1.4rem;
			color: #000;
			font-size: 1.4rem;
			/*box-shadow: 0 2rem 2rem rgba(171, 110, 166, 0.5);*/
			color: white;

			&:focus {
				outline: none;
				color: white;
				background-color: #ff0d7b;
			}
		}
	}

	& .shop_login {
		font-size: 1.2rem;
		font-weight: 700;
		/*text-transform: uppercase;*/

		padding: 0rem 4rem;
		margin: 1rem 2rem;

		&_link {
			color: #ff0d7b;
			text-decoration: none;
		}
	}

	& .hero_banner {
		text-align: center;
		margin: 0rem auto;
		& .image {
			margin: 5.6rem auto -10rem auto;
			max-width: 80%;
		}
	}
}

.features_section {
	display: flex;
	flex-wrap: wrap;
	margin: 7rem 2.4rem;
	padding: 6rem 3rem;
	background-color: #fafafa;

	& .feature {
		padding: 3.6rem 0.5rem;
		position: relative;
		&_headline {
			font-size: 1.6rem;
			font-weight: 600;
			color: #000;
			margin-bottom: 0.8rem;
			/*text-decoration: underline;*/
		}

		&_paragraph {
			font-size: 1.4rem;
			color: #111;
			text-transform: capitalize;
		}
	}
}

.elite {
	text-align: center;
}

.elite_section {
	padding: 4.4rem 2.4rem 0 2.4rem;

	&_heading {
		color: #000;
		font-size: 2rem;
		margin-bottom: 12rem;
	}

	&_box {
		margin: 2rem auto;
		margin-bottom: 0;
		padding: 4.8rem 1rem;
		/*border: 0.05rem solid #aaa;*/
		border-radius: 2%;
		background-color: #fafafa;

		&_content {
			margin-top: -11rem;
			/*text-align: center;*/
			&_image {
				width: 90%;
			}

			&_heading {
				color: #000;
				font-size: 2.4rem;
				/*font-weight: 900;*/
				margin: 4.8rem 2rem;
				margin-bottom: 1rem;
			}

			&_feature {
				color: #111;
				font-size: 1.6rem;
				/*border-bottom: 0.05rem solid #bbb;*/
				padding: 3.2rem;
				margin: 1rem auto;
				max-width: 80%;
				/*font-weight: 400;*/

				&_2 {
					color: #ff0d7b;
					font-size: 1.4rem;
					margin: 2rem auto;
				}
			}
		}
	}
}

.working_section {
	padding: 3.4rem 3.6rem;
	text-align: center;

	&_heading {
		font-size: 2.4rem;
		margin: 7.2rem 2rem;
	}
	/*background-color: #eff9fc70;*/

	& .working {
		/*	max-width: 60%;*/

		display: flex;
		flex-wrap: wrap;
		margin: 0 1rem;
		&_box {
			background-color: #fff;
			box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
			border-radius: 2%;
			margin: 2rem auto;
			padding: 3.6rem;

			&_image {
				max-width: 50%;
				margin: 0.8rem 0;
				padding: 3rem;
			}

			&_heading {
				color: #ff0d7b;
				text-align: center;

				font-size: 1.2rem;
				margin: 0.8rem 0;
			}

			&_sub_heading {
				color: #000;
				font-size: 1.6rem;
				margin: 0.8rem 0;
			}

			&_headline {
				color: #111;
				font-size: 1.4rem;
				margin: 0.3rem 1rem;
			}
		}
	}
}

.shop_section {
	padding: 3.4rem 3.6rem;
	text-align: center;
	&_heading {
		font-size: 2.4rem;
		margin: 4rem 2rem 2rem 2rem;
		padding: 1.6rem;
	}

	&_subheading {
		font-size: 1.6rem;
		margin: 1.6rem 1.6rem 7.6rem 1.6rem;
		font-weight: 500;
		padding: 0.8rem;
	}
	/*background-color: #eff9fc70;*/

	& .shop {
		/*max-width: 60%;*/
		text-align: left;

		display: flex;
		flex-wrap: wrap;

		&_heading {
			font-size: 1.6rem;
			margin: 2.4rem 1.6rem;
			padding: 1.6rem 8rem;
			font-weight: 700;
			text-transform: uppercase;
			background-color: #ff0d7b;
			color: white;
			/*text-decoration: underline;*/
		}
		&_box {
			/*background-color: #fbfbfb;*/
			/*box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);*/
			/*border: 0.05rem solid #aaa;*/
			margin: 1rem auto;
			padding: 0.8rem;

			&_heading {
				text-align: center;
				display: flex;
				margin: 0;

				&_1 {
					font-size: 1.6rem;
				}
				&_2 {
					color: #ff0d7b;

					font-size: 1.2rem;
				}
			}

			&_address {
				color: #000;
				font-size: 1.2rem;
				font-weight: 500;
				margin: 1rem 0rem;
			}
		}
	}
}

.public_footer_section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #fff;
	/*margin: 1rem 0 0 0;*/

	& .public_footer {
		padding: 0rem 2.4rem 1rem 2.4rem;

		&_sub_heading_1 {
			color: #111;
			font-size: 1.6rem;
		}

		&_sub_heading_2 {
			color: #000;
			font-size: 1.6rem;
		}

		&_public_cta {
			color: #fff;
			padding: 4rem 3.2rem;
			text-align: center;
			background-color: #ff0d7b;
			font-size: 1.4rem;

			& span {
				font-size: 2rem;
				padding: 0 1rem;
				text-decoration: underline;
			}
		}

		&_seperator {
			display: flex;
			margin: 4rem 0;
			&_line {
				height: 0rem;
				width: 5rem;
				color: #70707030;
				border-bottom: 0.05rem solid #70707030;
			}

			&_text {
				color: #570951;
				text-transform: uppercase;
				font-size: 1rem;
				margin: -1rem 1rem;
			}
		}

		&_sub_heading_3 {
			color: #370533;
			font-size: 1.2rem;
		}

		&_cta {
			color: #9e1287;
			font-size: 1.8rem;
			font-weight: 900;
		}
	}

	& .public_footer_brand_name {
		color: #3b0533;
		font-size: 1.6rem;
		font-weight: 600;
		/*text-transform: uppercase;*/
		margin: 2rem 0;
		padding: 2rem 4.5rem;
	}
}

.login_section,
.register_section {
	/*width: 85%;*/
	margin: 2rem auto;

	&_form {
		display: flex;
		flex-direction: column;
		padding: 3rem;
		/*box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);*/
		/*background-color: #fff;*/
		text-align: center;

		&_title {
			color: #111;
			font-size: 1.8rem;
			font-weight: 700;
			margin: 3rem 0;
		}

		&_input {
			border: 0.05rem solid #666;
			border-radius: 2rem;
			padding: 1.4rem;
			color: #333;
			font-size: 1.4rem;
			margin: 1rem 0;
			&:focus {
				outline: none;
			}
		}

		&_submit {
			background-color: #222;
			/*height: 4.4rem;*/
			border: none;
			border-radius: 2rem;
			padding: 1.4rem;
			margin: 1rem 0;
			font-size: 1.4rem;
			/*box-shadow: 0 2rem 2rem rgba(171, 110, 166, 0.5);*/
			color: white;

			&:focus {
				outline: none;
				color: white;
				backgound-color: #ff0d7b;
			}
		}
	}

	&_brand_name {
		/*text-transform: uppercase;*/
		margin: 4rem;
		font-size: 1.6rem;
		font-weight: 900;
	}
}

.dashboard {
	margin: 4rem 0rem;

	&_form {
		background-color: #fafafa;
		margin: 2.4rem 1.6rem;
		padding: 3.2rem 3.2rem;
		&_heading {
			font-size: 1.6rem;
			font-weight: 400;
			color: #666;
			margin: 0;
		}

		&_name {
			font-size: 2.8rem;
			font-weight: 700;
			color: #000;
			margin: 0rem 1rem 3rem 0;
		}

		&_input {
			width: 65%;
			border: 0.05rem solid #666;
			border-radius: 2rem;
			padding: 1.4rem;
			color: #333;
			background-color: #fafafa;
			font-size: 1.4rem;
			&:focus {
				outline: none;
			}
		}

		&_submit {
			/*grid-area: input_submit;*/
			background-color: #222;
			/*height: 4.4rem;*/
			border: none;
			border-radius: 2rem;
			margin: 0;
			margin-left: 0.8rem;
			padding: 1.4rem;
			color: #000;
			font-size: 1.4rem;
			/*box-shadow: 0 2rem 2rem rgba(171, 110, 166, 0.5);*/
			color: white;

			&:focus {
				outline: none;
				color: white;
				background-color: #ff0d7b;
			}
		}
	}

	&_coming_soon {
		color: #111;
		font-size: 1.4rem;
		text-transform: uppercase;
		margin: 8rem 3.2rem 3.2rem 3.2rem;
	}

	&_upcoming {
		text-align: center;
		background-color: #fff;
		box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
		border-radius: 2%;
		margin: 1.6rem 2.4rem;
		padding: 4.8rem 3.2rem;

		&_sub_heading {
			color: #333;
			font-size: 1.4rem;
			margin: 0.5rem 0;
			font-weight: 400;
		}

		&_headline {
			color: #111;
			font-size: 1.6rem;
			margin: 0.5rem 0;
		}
	}

	&_brand_name {
		/*text-transform: uppercase;*/
		margin: 4rem;
		font-size: 1.6rem;
		font-weight: 900;
	}
}

/*info card shared */

.info_card {
	padding: 1.6rem;

	&_row1 {
		display: flex;
		justify-content: space-between;
		margin-bottom: 2rem;

		&_id {
			font-size: 2rem;
			font-weight: 700;
			color: #111;
		}

		&_code {
			margin: -1.2rem 2rem 0 0;
			&_headline {
				font-size: 1.2rem;
				color: #666;
			}
			&_value {
				font-size: 1.6rem;
				color: #111;
			}
		}
	}

	&_row2 {
		display: flex;
		justify-content: space-between;

		&_cl1,
		&_cl2 {
			&_headline {
				font-size: 1.2rem;
				color: #666;
			}
			&_value {
				font-size: 1.6rem;
				color: #111;
			}
		}

		&_break {
			height: 4rem;
			margin-top: 0.2rem;
			border: 0.1rem solid #aaa;
		}
	}
}

.details_section,
.public_details {
	&_card {
		background-color: #fafafa;
		/*box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);*/
		border-radius: 2%;
		margin: 4rem auto;
		padding: 3.2rem;
		max-width: 75%;

		&_tagline {
			font-size: 1.4rem;
			color: #111;
			text-align: center;
			text-transform: uppercase;
			margin: 1rem 0;
		}
		&_info {
			padding: 1rem;
			margin: 2.5rem 0;
		}

		&_form {
			margin: 4rem 1rem;
			margin-bottom: 0rem;
			display: flex;
			flex-direction: column;

			&_input {
				display: flex;
				justify-content: space-around;

				&_1,
				&_2 {
					max-width: 38%;
					padding: 1rem;
					height: 2rem;
					font-size: 1.4rem;
					border: 0.01rem solid #f0f0f0;

					&:focus {
						outline: none;
						border: 0.01rem solid #aaa;
					}
				}
			}

			&_submit {
				height: 2rem;
				font-size: 1.6 rem;
				border: none;
				background-color: #70707030;
				padding: 2rem;
				width: 97%;
				margin: 1.5rem auto;
				padding-bottom: 3rem;
				text-transform: uppercase;

				&:focus {
					outline: none;
					background: #111;
					color: white;
				}
			}

			&_back {
				margin: 1.5rem auto;
				font-size: 1.4rem;
				text-align: center;
				color: #ff0d7b;
				/*text-decoration: underline;*/
				text-transform: uppercase;
			}
		}

		&_back {
			margin: 1.6rem;
			font-size: 1.6rem;
			text-align: center;
			color: #ff0d7b;
			border: 0.05rem solid #ff0d7b;
			border-radius: 2rem;
			padding: 1rem;
			text-decoration: none;
			/*text-transform: uppercase;*/
		}
	}

	&_brand_name {
		/*text-transform: uppercase;*/
		margin: 4rem;
		font-size: 1.6rem;
		font-weight: 700;
	}

	&_transactions {
		&_headline {
			font-weight: 700;
			font-size: 1.4rem;
			color: #111;
			margin: 5.6rem 1rem 3.2rem 1rem;
		}

		margin: 4rem 3rem;
	}
}

.transactions {
	margin: 3.2rem 0.8rem;
	&_box {
		display: flex;
		justify-content: space-between;
		margin: 1.6rem 0;
		padding: 1.6rem 0;
		border-bottom: 0.05rem solid #ddd;

		&_row {
			&_name {
				font-weight: 700;
				font-size: 1.6rem;
				color: #111;
			}

			&_date {
				font-size: 1.2rem;
				font-weight: 500;
				color: #999;
			}

			&_bill {
				color: #ff0d7b;
				font-size: 1.4rem;
				text-align: right;
			}

			&_debit {
				color: red;
				font-size: 1.2rem;
				text-align: right;
			}
		}
	}
}
