* {
  margin: 0;
  padding: 0;
  /*line-height: 1.2rem;*/ }

html {
  font-size: 64.5%; }

body {
  box-sizing: border-box;
  background-color: #fbfbfb; }

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  line-height: 1.8; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; }

.error_section {
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  margin: 9rem auto; }
  .error_section_art {
    width: 60%; }
  .error_section_headline {
    margin: 3.2rem; }
  .error_section_cta {
    text-decoration: none;
    border: 0.05rem solid #b86566;
    color: #b86566;
    padding: 0.8rem 1.6rem;
    font-size: 1.2rem; }

.loading {
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  margin: 15rem auto; }
  .loading_art {
    width: 60%; }

.mainApp .design {
  /*background-color: #f0f0f0;*/
  height: 50rem;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -33; }
  .mainApp .design .color_box {
    display: flex;
    justify-content: space-around;
    overflow: none; }
    .mainApp .design .color_box .c1 {
      position: relative;
      width: 0%;
      height: 15rem;
      border-radius: 10%;
      background-image: linear-gradient(to bottom, rgba(132, 44, 85, 0.15), rgba(48, 162, 228, 0.15));
      filter: blur(50px);
      z-index: -32; }
    .mainApp .design .color_box .c2 {
      position: relative;
      width: 0%;
      height: 15rem;
      border-radius: 10%;
      background-image: linear-gradient(to bottom, rgba(115, 212, 78, 0.19), rgba(5, 152, 74, 0.45));
      filter: blur(50px);
      z-index: -32; }
    .mainApp .design .color_box .c3 {
      position: relative;
      width: 0%;
      height: 22rem;
      border-radius: 20%;
      background-image: linear-gradient(to bottom, rgba(251, 27, 131, 0.19), rgba(228, 48, 48, 0.19));
      filter: blur(50px);
      z-index: -32; }
    .mainApp .design .color_box .c4 {
      position: relative;
      width: 0%;
      height: 10rem;
      border-radius: 100%;
      background-image: linear-gradient(to bottom, rgba(132, 44, 85, 0.33), rgba(48, 162, 228, 0.15));
      /*filter: blur(50px);*/
      z-index: -32; }
    .mainApp .design .color_box .c5 {
      position: relative;
      width: 0%;
      height: 22rem;
      border-radius: 20%;
      background-image: linear-gradient(to bottom, rgba(251, 27, 131, 0.19), rgba(228, 48, 48, 0.19));
      filter: blur(50px);
      z-index: -32; }
    .mainApp .design .color_box .c6 {
      position: relative;
      width: 0%;
      height: 22rem;
      border-radius: 20%;
      background-image: linear-gradient(to bottom, rgba(251, 27, 131, 0.19), rgba(228, 48, 48, 0.19));
      filter: blur(50px);
      z-index: -32; }

.header {
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 0.8rem 2.4rem;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
  /*background-color: #ebe4df;*/ }
  .header .logo {
    margin: 1.2rem;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 700;
    color: #000; }
  .header .navlinks {
    margin: 0.8rem;
    padding: 1rem 0;
    /*text-transform: uppercase;*/
    font-weight: 700;
    font-size: 1.4rem; }
    .header .navlinks .navlink {
      color: #000;
      text-decoration: none; }

.footer {
  font-size: 1.6rem;
  margin: 2.4rem;
  padding: 1.6rem;
  color: #111; }
  .footer_logo {
    text-decoration: none;
    color: #111;
    padding-bottom: 1rem; }
  .footer_copyright, .footer_rights {
    padding: 0;
    font-size: 1rem;
    /*font-weight: 500;*/
    color: #666; }

.public_view_hero {
  /*width: 70%;*/
  background-color: #ff0d7b;
  background-color: #fdd0e5;
  color: black;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  font-weight: 300;
  line-height: 1.3;
  margin: 4rem 1.6rem;
  padding: 4rem 3.2rem; }
  .public_view_hero_image {
    width: 90%;
    padding: 2.4rem 1.6rem; }
  .public_view_hero_headline {
    font-size: 2.4rem;
    padding: 3.2rem 0.5rem 0rem 0.5rem; }
  .public_view_hero span {
    font-size: 3.2rem;
    font-weight: 600;
    text-decoration: underline; }
  .public_view_hero_description {
    padding: 2.4rem 0.5rem 0.8rem 0.5rem;
    font-size: 1.4rem; }

.public_view .form_box {
  margin: 0 2rem;
  background-color: white;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  margin: 3.2rem 1.6rem;
  padding: 3.2em;
  display: grid;
  grid-template-columns: auto auto;
  -webkit-grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  -webkit-grid-template-rows: auto auto;
  grid-gap: 1rem;
  -webkit-grid-gap: 1rem; }
  .public_view .form_box_headline {
    /*font-weight: 500;*/
    color: #111;
    padding: 0.8rem;
    font-size: 1.4rem; }
  .public_view .form_box .input_mobile {
    grid-column: auto / span 2;
    -webkit-grid-column: auto / span 2;
    /*height: 2.4rem;*/
    border: 0.05rem solid #111;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    padding: 1.4rem;
    color: #333;
    background-color: #white;
    font-size: 1.4rem; }
    .public_view .form_box .input_mobile:focus {
      outline: none; }
  .public_view .form_box .input_passcode {
    /*width: 24%;*/
    /*height: 3.2rem;*/
    /*grid_area: input_passcode;*/
    /*height: 2.4rem;*/
    border: 0.05rem solid #111;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    background-color: white;
    padding: 1.4rem;
    color: #333;
    font-size: 1.4rem; }
    .public_view .form_box .input_passcode:focus {
      outline: none; }
  .public_view .form_box .input_submit {
    /*width: 60%;*/
    /*height: 4.2rem;*/
    /*grid-area: input_submit;*/
    background-color: #222;
    /*height: 4.4rem;*/
    border: none;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    padding: 1.4rem;
    color: #000;
    font-size: 1.4rem;
    /*box-shadow: 0 2rem 2rem rgba(171, 110, 166, 0.5);*/
    color: white; }
    .public_view .form_box .input_submit:focus {
      outline: none; }

.public_view .shop_login {
  font-size: 1.2rem;
  font-weight: 700;
  /*text-transform: uppercase;*/
  padding: 0rem 4rem;
  margin: 1rem 2rem; }
  .public_view .shop_login_link {
    color: #ff0d7b;
    text-decoration: none;
    -epub-text-decoration: none; }

.public_view .hero_banner {
  text-align: center;
  margin: 0rem auto; }
  .public_view .hero_banner .image {
    margin: 5.6rem auto -10rem auto;
    max-width: 80%; }

.features_section {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  margin: 5.6rem 2.4rem;
  padding: 6rem 3rem; }
  .features_section_headline {
    color: #000;
    font-size: 2.4rem;
    margin: 4.8rem 2rem;
    padding: 2.4rem;
    text-align: center;
    text-transform: capitalize; }
  .features_section .feature {
    padding: 1.6rem 0.5rem;
    margin: 2.4rem 0.5rem;
    position: relative; }
    .features_section .feature_headline {
      font-size: 1.6rem;
      font-weight: 600;
      color: #000;
      margin-bottom: 0.8rem;
      /*text-decoration: underline;*/ }
    .features_section .feature_paragraph {
      font-size: 1.4rem;
      color: #111;
      text-transform: capitalize; }

.elite {
  text-align: center; }

.elite_section {
  padding: 4.4rem 2.4rem 0 2.4rem; }
  .elite_section_heading {
    color: #000;
    font-size: 2rem;
    margin-bottom: 12rem; }
  .elite_section_box {
    margin: 2rem auto;
    margin-bottom: 0;
    padding: 4.8rem 1rem;
    /*border: 0.05rem solid #aaa;*/
    border-radius: 2%;
    -webkit-border-radius: 2%;
    background-color: white; }
    .elite_section_box_content {
      margin-top: -11rem;
      /*text-align: center;*/ }
      .elite_section_box_content_image {
        width: 90%; }
      .elite_section_box_content_heading {
        color: #000;
        font-size: 2.4rem;
        /*font-weight: 900;*/
        margin: 4.8rem 2rem;
        margin-bottom: 1rem; }
      .elite_section_box_content_feature {
        color: #111;
        font-size: 1.6rem;
        /*border-bottom: 0.05rem solid #bbb;*/
        padding: 3.2rem;
        margin: 1rem auto;
        max-width: 80%;
        /*font-weight: 400;*/ }
        .elite_section_box_content_feature_2 {
          color: #ff0d7b;
          font-size: 1.4rem;
          margin: 2rem auto; }

.working_section {
  padding: 7.2rem 3.6rem;
  text-align: center;
  /*background-color: #eff9fc70;*/ }
  .working_section_heading {
    font-size: 2.4rem;
    margin: 7.2rem 2rem; }
  .working_section .working {
    /*	max-width: 60%;*/
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 0 1.2rem; }
    .working_section .working_box {
      background-color: #fff;
      box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
      border-radius: 2%;
      -webkit-border-radius: 2%;
      margin: 3.2rem auto;
      padding: 3.6rem; }
      .working_section .working_box_image {
        max-width: 50%;
        margin: 0.8rem 0;
        padding: 3rem; }
      .working_section .working_box_heading {
        color: #ff0d7b;
        text-align: center;
        font-size: 1.2rem;
        margin: 0.8rem 0; }
      .working_section .working_box_sub_heading {
        color: #000;
        font-size: 1.6rem;
        margin: 0.8rem 0; }
      .working_section .working_box_headline {
        color: #111;
        font-size: 1.4rem;
        margin: 0.3rem 1rem; }

.shop_section {
  padding: 5.6rem 3.6rem;
  text-align: center;
  /*background-color: #eff9fc70;*/ }
  .shop_section_heading {
    font-size: 2.4rem;
    margin: 4rem 2rem 2rem 2rem;
    padding: 1.6rem; }
  .shop_section_subheading {
    font-size: 1.6rem;
    margin: 1.6rem 1.6rem 7.6rem 1.6rem;
    font-weight: 500;
    padding: 0.8rem; }
  .shop_section .shop {
    /*max-width: 60%;*/
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; }
    .shop_section .shop_heading {
      font-size: 2.4rem;
      margin: 4.8rem auto;
      padding: 3.2rem auto;
      font-weight: 700;
      /*text-transform: uppercase;*/
      /*background-color: #ff0d7b;*/
      color: #111;
      /*text-decoration: underline;*/ }
    .shop_section .shop_box {
      /*background-color: white;*/
      /*box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);*/
      /*border: 0.05rem solid #aaa;*/
      margin: 1rem;
      /*padding: 2.4rem 3.6rem;*/
      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      display: flex; }
      .shop_section .shop_box_image {
        width: 25%;
        padding: 1.6rem;
        display: none; }
      .shop_section .shop_box_content {
        padding: 1.6rem; }
        .shop_section .shop_box_content_heading {
          text-align: left;
          margin: 0;
          /*display: flex;*/ }
          .shop_section .shop_box_content_heading_1 {
            font-size: 1.4rem; }
          .shop_section .shop_box_content_heading_2 {
            color: #ff0d7b;
            font-size: 1.1rem; }
        .shop_section .shop_box_content_address {
          color: #000;
          font-size: 1.1rem;
          font-weight: 500;
          margin: 0.4rem 0rem; }

.public_footer_section {
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-between;
  /*background-color: #fff;*/
  /*margin: 1rem 0 0 0;*/ }
  .public_footer_section .public_footer {
    padding: 3.2rem 2.4rem 1rem 2.4rem;
    text-align: center;
    background-color: gold;
    background-color: #fdd0e5;
    margin: 2.4rem;
    border-radius: 0.5rem; }
    .public_footer_section .public_footer_sub_heading_1 {
      color: #111;
      font-size: 1.6rem; }
    .public_footer_section .public_footer_sub_heading_2 {
      color: #000;
      font-size: 1.6rem; }
    .public_footer_section .public_footer_image {
      width: 80%;
      padding: 2.4rem; }
    .public_footer_section .public_footer_public_cta {
      color: #111;
      padding: 1.6rem 3.2rem;
      font-size: 1.4rem;
      font-weight: 700; }
      .public_footer_section .public_footer_public_cta span {
        font-size: 2rem;
        padding: 0 1rem; }
    .public_footer_section .public_footer_seperator {
      display: flex;
      margin: 4rem 0; }
      .public_footer_section .public_footer_seperator_line {
        height: 0rem;
        width: 5rem;
        color: #70707030;
        border-bottom: 0.05rem solid #70707030; }
      .public_footer_section .public_footer_seperator_text {
        color: #570951;
        text-transform: uppercase;
        font-size: 1rem;
        margin: -1rem 1rem; }
    .public_footer_section .public_footer_sub_heading_3 {
      color: #370533;
      font-size: 1.2rem; }
    .public_footer_section .public_footer_cta {
      color: #9e1287;
      font-size: 1.8rem;
      font-weight: 900; }
  .public_footer_section .public_footer_brand_name {
    color: #3b0533;
    font-size: 1.6rem;
    font-weight: 600;
    /*text-transform: uppercase;*/
    margin: 2rem 0;
    padding: 2rem 4.5rem; }

.login_section,
.register_section {
  /*width: 85%;*/
  margin: 2rem auto; }
  .login_section_form,
  .register_section_form {
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    padding: 3rem;
    /*box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);*/
    /*background-color: #fff;*/
    text-align: center; }
    .login_section_form_title,
    .register_section_form_title {
      color: #111;
      font-size: 1.8rem;
      font-weight: 700;
      margin: 3rem 0; }
    .login_section_form_input,
    .register_section_form_input {
      border: 0.05rem solid #666;
      border-radius: 2rem;
      -webkit-border-radius: 2rem;
      padding: 1.4rem;
      color: #333;
      background-color: #fbfcfd;
      font-size: 1.4rem;
      margin: 1rem 0; }
      .login_section_form_input:focus,
      .register_section_form_input:focus {
        outline: none; }
    .login_section_form_submit,
    .register_section_form_submit {
      background-color: #222;
      /*height: 4.4rem;*/
      border: none;
      border-radius: 2rem;
      -webkit-border-radius: 2rem;
      padding: 1.4rem;
      margin: 1rem 0;
      font-size: 1.4rem;
      /*box-shadow: 0 2rem 2rem rgba(171, 110, 166, 0.5);*/
      color: white; }
      .login_section_form_submit:focus,
      .register_section_form_submit:focus {
        outline: none;
        color: black;
        background-color: silver; }
    .login_section_form_error,
    .register_section_form_error {
      background-color: #fdd0e5;
      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      padding: 0.8rem;
      color: #b86566;
      margin: 1.6rem 0;
      font-size: 1.2rem;
      font-weight: 700; }
  .login_section_brand_name,
  .register_section_brand_name {
    /*text-transform: uppercase;*/
    margin: 4rem;
    font-size: 1.6rem;
    font-weight: 900; }

.dashboard {
  margin: 4rem 0rem; }
  .dashboard_banner {
    font-size: 1.2rem;
    background-color: #fdd0e5;
    margin: 1.6rem;
    padding: 0.8rem 2.4rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem; }
  .dashboard_form {
    background-color: white;
    margin: 2.4rem 1.6rem;
    padding: 3.2rem 3.2rem;
    /*box-shadow: 0 0rem 9rem 0.1rem rgba(0, 0, 0, 0.1);*/
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem; }
    .dashboard_form_heading {
      font-size: 1.6rem;
      font-weight: 400;
      color: #666;
      margin: 0; }
    .dashboard_form_name {
      font-size: 2.8rem;
      font-weight: 700;
      color: #000;
      margin: 0rem 1rem 3rem 0; }
    .dashboard_form_input {
      width: 65%;
      border: 0.05rem solid #666;
      border-radius: 2rem;
      -webkit-border-radius: 2rem;
      padding: 1.4rem;
      color: #333;
      background-color: white;
      font-size: 1.4rem; }
      .dashboard_form_input:focus {
        outline: none; }
    .dashboard_form_submit {
      /*grid-area: input_submit;*/
      background-color: #222;
      /*height: 4.4rem;*/
      border: none;
      border-radius: 2rem;
      -webkit-border-radius: 2rem;
      margin: 0;
      margin-left: 0.8rem;
      padding: 1.4rem;
      color: #000;
      font-size: 1.4rem;
      /*box-shadow: 0 2rem 2rem rgba(171, 110, 166, 0.5);*/
      color: white; }
      .dashboard_form_submit:focus {
        outline: none;
        color: white;
        background-color: #ff0d7b; }
  .dashboard_coming_soon {
    color: #111;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: 8rem 3.2rem 3.2rem 3.2rem; }
  .dashboard_upcoming {
    text-align: center;
    background-color: gold;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 2%;
    -webkit-border-radius: 2%;
    margin: 1.6rem 3.2rem;
    padding: 4.8rem; }
    .dashboard_upcoming_image {
      width: 70%;
      padding: 1.6rem; }
    .dashboard_upcoming_sub_heading {
      color: #333;
      font-size: 1.4rem;
      margin: 0.5rem 0;
      font-weight: 400; }
    .dashboard_upcoming_headline {
      color: #111;
      font-size: 1.6rem;
      margin: 2rem 0 0 0; }
  .dashboard_brand_name {
    /*text-transform: uppercase;*/
    margin: 4rem;
    font-size: 1.6rem;
    font-weight: 900; }

/*info card shared */
.info_card {
  padding: 1.6rem;
  background-color: white; }
  .info_card_row1 {
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin-bottom: 2rem; }
    .info_card_row1_id {
      font-size: 2rem;
      font-weight: 700;
      color: #111; }
    .info_card_row1_code {
      margin: -1.2rem 2rem 0 0; }
      .info_card_row1_code_headline {
        font-size: 1.2rem;
        color: #666; }
      .info_card_row1_code_value {
        font-size: 1.6rem;
        color: #111; }
  .info_card_row2 {
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between; }
    .info_card_row2_cl1_headline, .info_card_row2_cl2_headline {
      font-size: 1.2rem;
      color: #666; }
    .info_card_row2_cl1_value, .info_card_row2_cl2_value {
      font-size: 1.6rem;
      color: #111; }
    .info_card_row2_break {
      height: 4rem;
      margin-top: 0.2rem;
      border: 0.1rem solid #aaa; }

.details_section_banner,
.public_details_banner {
  font-size: 1.2rem;
  background-color: #fdd0e5;
  margin: 4.8 rem 1.6rem 0rem 1.6rem;
  padding: 0.8rem 2.4rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem; }

.details_section_card,
.public_details_card {
  background-color: white;
  /*box-shadow: 0 0 9rem 0.1rem rgba(0, 0, 0, 0.1);*/
  border-radius: 2%;
  -webkit-border-radius: 2%;
  margin: 4rem auto;
  padding: 3.2rem;
  max-width: 75%; }
  .details_section_card_tagline,
  .public_details_card_tagline {
    font-size: 1.4rem;
    color: #111;
    text-align: center;
    text-transform: uppercase;
    margin: 1rem 0; }
  .details_section_card_info,
  .public_details_card_info {
    padding: 1rem;
    margin: 2.5rem 0; }
  .details_section_card_form,
  .public_details_card_form {
    margin: 4rem 1rem;
    margin-bottom: 0rem;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column; }
    .details_section_card_form_input,
    .public_details_card_form_input {
      display: flex;
      justify-content: space-around;
      -webkit-justify-content: space-around; }
      .details_section_card_form_input_1, .details_section_card_form_input_2,
      .public_details_card_form_input_1,
      .public_details_card_form_input_2 {
        max-width: 38%;
        padding: 1rem;
        height: 2rem;
        font-size: 1.4rem;
        border: 0.01rem solid #111; }
        .details_section_card_form_input_1:focus, .details_section_card_form_input_2:focus,
        .public_details_card_form_input_1:focus,
        .public_details_card_form_input_2:focus {
          outline: none;
          border: 0.01rem solid #ff0d7b; }
    .details_section_card_form_submit,
    .public_details_card_form_submit {
      height: 2rem;
      font-size: 1.6 rem;
      border: none;
      background-color: #70707030;
      padding: 2rem;
      width: 97%;
      margin: 1.5rem auto;
      padding-bottom: 3rem;
      text-transform: uppercase; }
      .details_section_card_form_submit:focus,
      .public_details_card_form_submit:focus {
        outline: none;
        background: #111;
        color: white; }
    .details_section_card_form_back,
    .public_details_card_form_back {
      margin: 1.5rem auto;
      font-size: 1.4rem;
      text-align: center;
      color: #ff0d7b;
      /*text-decoration: underline;*/
      text-transform: uppercase; }
  .details_section_card_back,
  .public_details_card_back {
    margin: 1.6rem;
    font-size: 1.6rem;
    text-align: center;
    color: #ff0d7b;
    border: 0.05rem solid #ff0d7b;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    padding: 1rem;
    text-decoration: none;
    /*text-transform: uppercase;*/ }

.details_section_brand_name,
.public_details_brand_name {
  /*text-transform: uppercase;*/
  margin: 4rem;
  font-size: 1.6rem;
  font-weight: 700; }

.details_section_credit,
.public_details_credit {
  display: flex;
  margin: 7.2rem 2.4rem;
  padding: 0rem 3.2rem;
  background-color: #fdd0e5;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  display: flex; }
  .details_section_credit_image,
  .public_details_credit_image {
    width: 45%;
    -webkit-transform: translateY(-2rem); }
  .details_section_credit_value,
  .public_details_credit_value {
    margin: 2.4rem; }
    .details_section_credit_value_heading,
    .public_details_credit_value_heading {
      font-size: 1.2rem;
      font-weight: 900;
      color: #333; }
    .details_section_credit_value_text,
    .public_details_credit_value_text {
      font-size: 1.6rem;
      font-weight: 900; }

.details_section_transactions,
.public_details_transactions {
  margin: 4rem 2.4rem; }
  .details_section_transactions_headline,
  .public_details_transactions_headline {
    font-weight: 700;
    font-size: 1.4rem;
    color: #111;
    margin: 5.6rem 0.5rem 3.2rem 0.5rem; }

.transactions {
  margin: 3rem 0rem; }
  .transactions_box {
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin: 0.8rem 0;
    padding: 2rem 1.6rem;
    background-color: white;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    /*border-bottom: 0.05rem solid #ddd;*/ }
    .transactions_box_row_name {
      font-weight: 700;
      font-size: 1.4rem;
      color: #111; }
    .transactions_box_row_date {
      font-size: 1.2rem;
      font-weight: 500;
      color: #999; }
    .transactions_box_row_bill {
      color: #ff0d7b;
      font-size: 1.4rem;
      text-align: right; }
    .transactions_box_row_debit {
      color: red;
      font-size: 1.2rem;
      text-align: right; }
