* {
  margin: 0;
  padding: 0;
  /*line-height: 1.2rem;*/ }

html {
  font-size: 66.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  line-height: 1.7; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; }

.mainApp .design {
  /*background-color: #f0f0f0;*/
  height: 50rem;
  width: 100%;
  position: absolute;
  z-index: -33; }
  .mainApp .design .color_box {
    display: flex;
    justify-content: space-around;
    overflow: none; }
    .mainApp .design .color_box .c1 {
      position: relative;
      width: 50%;
      height: 15rem;
      border-radius: 10%;
      background-image: linear-gradient(to bottom, rgba(132, 44, 85, 0.15), rgba(48, 162, 228, 0.15));
      filter: blur(50px);
      z-index: -32; }
    .mainApp .design .color_box .c2 {
      position: relative;
      width: 50%;
      height: 15rem;
      border-radius: 10%;
      background-image: linear-gradient(to bottom, rgba(115, 212, 78, 0.19), rgba(5, 152, 74, 0.45));
      filter: blur(50px);
      z-index: -32; }
    .mainApp .design .color_box .c3 {
      position: relative;
      width: 50%;
      height: 22rem;
      border-radius: 20%;
      background-image: linear-gradient(to bottom, rgba(251, 27, 131, 0.19), rgba(228, 48, 48, 0.19));
      filter: blur(50px);
      z-index: -32; }
    .mainApp .design .color_box .c4 {
      position: relative;
      width: 50%;
      height: 10rem;
      border-radius: 100%;
      background-image: linear-gradient(to bottom, rgba(132, 44, 85, 0.33), rgba(48, 162, 228, 0.15));
      filter: blur(50px);
      z-index: -32; }
    .mainApp .design .color_box .c5 {
      position: relative;
      width: 60%;
      height: 20rem;
      border-radius: 40%;
      background-image: linear-gradient(to bottom, rgba(251, 27, 131, 0.15), rgba(228, 48, 48, 0.15));
      filter: blur(50px);
      z-index: -32; }
    .mainApp .design .color_box .c6 {
      position: relative;
      width: 35%;
      height: 10rem;
      border-radius: 100%;
      background-image: linear-gradient(to bottom, rgba(24, 185, 180, 0.19), rgba(48, 162, 228, 0.15));
      filter: blur(50px);
      z-index: -32; }

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 3rem;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
  /*background-color: #ebe4df;*/ }
  .header .logo {
    margin: 1rem;
    font-size: 2rem; }
  .header .navlinks {
    margin: 0.8rem;
    padding: 0.8rem 0;
    /*text-transform: uppercase;*/
    font-weight: 700;
    font-size: 1.2rem; }
    .header .navlinks .navlink {
      /*color: #ff0d7b;*/
      text-decoration: none; }

.public_view {
  /*background-color: #ebe4df;*/ }
  .public_view .headline {
    font-size: 4.5rem;
    /*width: 70%;*/
    font-weight: 300;
    line-height: 1.3;
    margin: 1.6rem;
    padding: 4rem 2rem 3.5rem 2rem; }
    .public_view .headline span {
      font-size: 7.5rem;
      font-weight: 600;
      color: #ff0d7b; }
    .public_view .headline_description {
      padding: 2rem 0.5rem 0 0.5rem;
      font-size: 1.5rem; }
  .public_view .form_box {
    margin: 0 2rem;
    padding: 0 1.6rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 1rem; }
    .public_view .form_box .input_mobile {
      grid-column: auto / span 2;
      /*height: 2.4rem;*/
      border: 0.05rem solid #666;
      border-radius: 2rem;
      padding: 1.4rem;
      color: #333;
      font-size: 1.4rem; }
      .public_view .form_box .input_mobile:focus {
        outline: none; }
    .public_view .form_box .input_passcode {
      /*width: 24%;*/
      /*height: 3.2rem;*/
      /*grid_area: input_passcode;*/
      /*height: 2.4rem;*/
      border: 0.05rem solid #666;
      border-radius: 2rem;
      padding: 1.4rem;
      color: #333;
      font-size: 1.4rem; }
      .public_view .form_box .input_passcode:focus {
        outline: none; }
    .public_view .form_box .input_submit {
      /*width: 60%;*/
      /*height: 4.2rem;*/
      /*grid-area: input_submit;*/
      background-color: #222;
      /*height: 4.4rem;*/
      border: none;
      border-radius: 2rem;
      padding: 1.4rem;
      color: #000;
      font-size: 1.4rem;
      /*box-shadow: 0 2rem 2rem rgba(171, 110, 166, 0.5);*/
      color: white; }
      .public_view .form_box .input_submit:focus {
        outline: none;
        background: white;
        color: #ff0d7b; }
  .public_view .shop_login {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0rem 5.5rem;
    margin: 1rem 0; }
    .public_view .shop_login_link {
      color: #111;
      text-decoration: none; }

.features_section {
  display: flex;
  flex-wrap: wrap;
  margin: 7rem 0;
  padding: 6rem 3rem;
  background-color: #fafafa; }
  .features_section .feature {
    padding: 3rem 0.5rem;
    position: relative; }
    .features_section .feature_headline {
      font-size: 1.6rem;
      font-weight: 600;
      color: #000;
      text-transform: uppercase;
      margin-bottom: 0.8rem;
      /*text-decoration: underline;*/ }
    .features_section .feature_paragraph {
      font-size: 1.4rem;
      color: #111; }

.working_section {
  display: flex;
  flex-wrap: wrap;
  padding: 5rem 0;
  /*background-color: #eff9fc70;*/ }
  .working_section .working {
    max-width: 60%;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 2%;
    margin: 2rem auto;
    padding: 3rem 1.6rem; }
    .working_section .working_image {
      width: 60%;
      margin: 0.3rem 0; }
    .working_section .working_heading {
      color: #ff0d7b;
      font-size: 1.2rem;
      margin: 0.3rem 0; }
    .working_section .working_sub_heading {
      color: #000;
      font-size: 1.6rem;
      margin: 0.3rem 0; }
    .working_section .working_headline {
      color: #111;
      font-size: 1.4rem;
      margin: 0.3rem 0; }

.elite {
  text-align: center; }

.elite_section {
  padding: 5rem 3.5rem; }
  .elite_section_heading {
    color: #000;
    font-size: 1.6rem;
    margin-bottom: 14rem;
    text-transform: uppercase; }
  .elite_section_box {
    margin: 2rem auto;
    padding: 3rem 1rem;
    border: 0.05rem solid #aaa;
    border-radius: 2%; }
    .elite_section_box_content {
      margin-top: -15rem;
      text-align: center; }
      .elite_section_box_content_image {
        width: 90%; }
      .elite_section_box_content_heading {
        color: #370533;
        font-size: 2.4rem;
        font-weight: 900;
        margin: 2.4rem; }
      .elite_section_box_content_feature {
        color: #666;
        font-size: 1.4rem;
        border-bottom: 0.05rem solid #bbb;
        padding: 1rem;
        margin: 1rem auto;
        max-width: 80%; }

.public_footer_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  margin: 1rem 0 0 0; }
  .public_footer_section .public_footer {
    padding: 1rem 4.5rem 1rem 4.5rem; }
    .public_footer_section .public_footer_sub_heading_1 {
      color: #111;
      font-size: 1.6rem; }
    .public_footer_section .public_footer_sub_heading_2 {
      color: #000;
      font-size: 1.6rem; }
    .public_footer_section .public_footer_public_cta {
      color: #ff0d7b;
      font-size: 1.4rem; }
    .public_footer_section .public_footer_seperator {
      display: flex;
      margin: 4rem 0; }
      .public_footer_section .public_footer_seperator_line {
        height: 0rem;
        width: 5rem;
        color: #70707030;
        border-bottom: 0.05rem solid #70707030; }
      .public_footer_section .public_footer_seperator_text {
        color: #570951;
        text-transform: uppercase;
        font-size: 1rem;
        margin: -1rem 1rem; }
    .public_footer_section .public_footer_sub_heading_3 {
      color: #370533;
      font-size: 1.2rem; }
    .public_footer_section .public_footer_cta {
      color: #9e1287;
      font-size: 1.8rem;
      font-weight: 900; }
  .public_footer_section .public_footer_brand_name {
    color: #3b0533;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 2rem 0;
    padding: 2rem 4.5rem; }

.login_section,
.register_section {
  width: 85%;
  margin: 0rem auto; }
  .login_section_form,
  .register_section_form {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center; }
    .login_section_form_title,
    .register_section_form_title {
      color: #570851;
      font-size: 1.6rem;
      font-weight: 900;
      margin: 3rem 0; }
    .login_section_form_input,
    .register_section_form_input {
      color: #570851;
      font-size: 1.2rem;
      border: none;
      border-bottom: 0.1rem solid #000;
      margin: 1.6rem 0; }
      .login_section_form_input:focus,
      .register_section_form_input:focus {
        outline: none; }
    .login_section_form_submit,
    .register_section_form_submit {
      border: none;
      background-color: #460440;
      color: white;
      border-radius: 2%;
      margin: 3rem 0;
      padding: 1.2rem;
      font-size: 1.4rem; }
      .login_section_form_submit:focus,
      .register_section_form_submit:focus {
        outline: none; }
  .login_section_brand_name,
  .register_section_brand_name {
    text-transform: uppercase;
    margin: 4rem 1rem;
    font-size: 1.2rem;
    font-weight: 900; }

.dashboard {
  margin: 2rem 4.5rem; }
  .dashboard_form_heading {
    font-size: 2rem;
    font-weight: 900;
    color: #57085161;
    margin: 0; }
  .dashboard_form_name {
    font-size: 3rem;
    font-weight: 900;
    color: #370533;
    margin: 0rem 1rem 3rem 0; }
  .dashboard_form_input {
    width: 65%;
    height: 3.2rem;
    background-color: rgba(255, 255, 255, 0.31);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5em 1em 0.5em 1.6em;
    box-shadow: 0 2rem 2rem rgba(171, 110, 166, 0.5);
    color: #560e50;
    font-size: 1.2rem; }
    .dashboard_form_input:focus {
      outline: none; }
  .dashboard_form_submit {
    border: none;
    font-size: 1.2rem;
    color: white;
    background-color: #460440;
    border-radius: 0.5rem;
    padding: 1.5rem;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0rem 0 0 0.8rem;
    box-shadow: 0 2rem 2rem rgba(171, 110, 166, 0.5); }
    .dashboard_form_submit:focus {
      outline: none;
      background: white;
      color: #460440; }
  .dashboard_coming_soon {
    color: #460440;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin: 8rem 0 1rem 0; }
  .dashboard_upcoming {
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 2%;
    margin: 1.6rem auto;
    padding: 2.5rem; }
    .dashboard_upcoming_sub_heading {
      color: #46063999;
      font-size: 1.1rem;
      margin: 0.5rem 0; }
    .dashboard_upcoming_headline {
      color: #6a0b58;
      font-size: 1.5rem;
      margin: 0.5rem 0; }
  .dashboard_brand_name {
    text-transform: uppercase;
    margin: 4rem 1rem;
    font-size: 1.2rem;
    font-weight: 900; }

/*info card shared */
.info_card {
  padding: 1rem; }
  .info_card_row1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem; }
    .info_card_row1_id {
      font-size: 1.9rem;
      font-weight: 900;
      color: #6a0b58; }
    .info_card_row1_code {
      margin: -1.2rem 2rem 0 0; }
      .info_card_row1_code_headline {
        font-size: 0.9rem;
        color: #46063999; }
      .info_card_row1_code_value {
        font-size: 1.5rem;
        color: #111; }
  .info_card_row2 {
    display: flex;
    justify-content: space-between; }
    .info_card_row2_cl1_headline, .info_card_row2_cl2_headline {
      font-size: 0.9rem;
      color: #46063999; }
    .info_card_row2_cl1_value, .info_card_row2_cl2_value {
      font-size: 1.5rem;
      color: #111; }
    .info_card_row2_break {
      height: 4rem;
      margin-top: 0.2rem;
      border: 0.1rem solid #70707030; }

.details_section_card,
.public_details_card {
  background-color: #fff;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 2%;
  margin: 0rem auto;
  padding: 2.5rem;
  max-width: 75%; }
  .details_section_card_tagline,
  .public_details_card_tagline {
    font-size: 1.2rem;
    color: #46063999;
    text-align: center;
    text-transform: uppercase;
    margin: 1rem 0; }
  .details_section_card_info,
  .public_details_card_info {
    padding: 1rem;
    margin: 2.5rem 0; }
  .details_section_card_form,
  .public_details_card_form {
    margin: 4rem 1rem;
    margin-bottom: 0rem;
    display: flex;
    flex-direction: column; }
    .details_section_card_form_input,
    .public_details_card_form_input {
      display: flex;
      justify-content: space-around; }
      .details_section_card_form_input_1, .details_section_card_form_input_2,
      .public_details_card_form_input_1,
      .public_details_card_form_input_2 {
        max-width: 38%;
        padding: 1rem;
        height: 2rem;
        font-size: 1.2rem;
        border: 0.1rem solid #70707080; }
        .details_section_card_form_input_1:focus, .details_section_card_form_input_2:focus,
        .public_details_card_form_input_1:focus,
        .public_details_card_form_input_2:focus {
          outline: none;
          border: 0.1rem solid #6a0b58; }
    .details_section_card_form_submit,
    .public_details_card_form_submit {
      height: 2rem;
      font-size: 1.2 rem;
      border: none;
      background-color: #70707030;
      padding: 2rem;
      width: 97%;
      margin: 1.5rem auto;
      padding-bottom: 3rem;
      text-transform: uppercase; }
      .details_section_card_form_submit:focus,
      .public_details_card_form_submit:focus {
        outline: none;
        background: #6a0b58;
        color: white; }
    .details_section_card_form_back,
    .public_details_card_form_back {
      margin: 1.5rem auto;
      font-size: 1.2rem;
      text-align: center;
      text-decoration: underline;
      text-transform: uppercase; }
  .details_section_card_back,
  .public_details_card_back {
    margin: 2.5rem 1rem;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase; }

.details_section_brand_name,
.public_details_brand_name {
  text-transform: uppercase;
  margin: 3rem;
  font-size: 1.2rem;
  font-weight: 900; }

.details_section_transactions,
.public_details_transactions {
  margin: 4rem 3rem; }
  .details_section_transactions_headline,
  .public_details_transactions_headline {
    font-weight: 700;
    font-size: 1rem;
    color: #54064e; }

.transactions {
  margin: 2rem 0; }
  .transactions_box {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 1rem 0;
    border-bottom: 0.05rem solid #70707030; }
    .transactions_box_row_name {
      font-weight: 700;
      font-size: 1.3rem;
      color: #54064e; }
    .transactions_box_row_date {
      font-size: 1rem;
      font-weight: 500;
      color: #00000080; }
    .transactions_box_row_bill {
      color: green;
      font-size: 1.1rem;
      text-align: right; }
    .transactions_box_row_debit {
      color: red;
      font-size: 1.1rem;
      text-align: right; }
